<launch>
  <!-- A: Start the HMI -->
  <include file="$(find hmi)/launch/hmi_launcher.launch"/>

  <include file="$(find my_depthai)/launch/detectie.launch"/>

  <!-- B: Start Arduino via rosserial -->
  <node name="arduino_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <node pkg="sortingcel" type="sortingcel.py" name="sortingcel" output="screen" />
</launch>
